In [2]:
import json
import pandas as pd

# JSON 파일 경로 설정
file_path = "./IPOSTOCK_data.json"  # 파일명을 실제 경로로 변경

# JSON 파일 로드
with open(file_path, "r", encoding="utf-8-sig") as f:
    data = json.load(f)

# 데이터에서 기업명과 상장일 추출
records = []
for entry in data:
    for company_name, details in entry.items():
        listing_date = details.get("공모정보", {}).get("상장일", None)
        records.append({"기업명": company_name, "상장일": listing_date})

# DataFrame 생성
df = pd.DataFrame(records)

# DataFrame 확인
print(df)

         기업명         상장일
0       아이지넷  2025.02.04
1       피아이이  2025.02.04
2      삼양엔씨켐  2025.02.03
3     아스테라시스  2025.01.24
4     데이원컴퍼니  2025.01.24
..       ...         ...
770    화인베스틸  2014.07.22
771      트루윈  2014.07.11
772   캐스텍코리아  2014.05.27
773    오이솔루션  2014.02.27
774  인터파크INT  2014.02.06

[775 rows x 2 columns]

In [3]:
df

         기업명         상장일
0       아이지넷  2025.02.04
1       피아이이  2025.02.04
2      삼양엔씨켐  2025.02.03
3     아스테라시스  2025.01.24
4     데이원컴퍼니  2025.01.24
..       ...         ...
770    화인베스틸  2014.07.22
771      트루윈  2014.07.11
772   캐스텍코리아  2014.05.27
773    오이솔루션  2014.02.27
774  인터파크INT  2014.02.06

[775 rows x 2 columns]

In [4]:
from datetime import datetime, timedelta

# 상장일을 기준으로 30일 전의 날짜 계산 함수
def calculate_30_days_before(date_str):
    try:
        # 날짜 문자열을 datetime 객체로 변환
        listing_date = datetime.strptime(date_str, "%Y.%m.%d")
        # 30일 전 날짜 계산
        date_30_days_before = listing_date - timedelta(days=30)
        # 다시 문자열로 변환하여 반환 (원본과 같은 형식 유지)
        return date_30_days_before.strftime("%Y.%m.%d")
    except Exception:
        return None  # 변환 실패 시 None 반환

# 새로운 컬럼 추가
df["상장일_30일전"] = df["상장일"].apply(calculate_30_days_before)

# 결과 확인
df

         기업명         상장일    상장일_30일전
0       아이지넷  2025.02.04  2025.01.05
1       피아이이  2025.02.04  2025.01.05
2      삼양엔씨켐  2025.02.03  2025.01.04
3     아스테라시스  2025.01.24  2024.12.25
4     데이원컴퍼니  2025.01.24  2024.12.25
..       ...         ...         ...
770    화인베스틸  2014.07.22  2014.06.22
771      트루윈  2014.07.11  2014.06.11
772   캐스텍코리아  2014.05.27  2014.04.27
773    오이솔루션  2014.02.27  2014.01.28
774  인터파크INT  2014.02.06  2014.01.07

[775 rows x 3 columns]

In [5]:
# 상장일을 기준으로 30일 전부터 1일 전까지의 모든 날짜를 리스트로 반환하는 함수
def generate_date_range(date_str):
    try:
        # 날짜 문자열을 datetime 객체로 변환
        listing_date = datetime.strptime(date_str, "%Y.%m.%d")
        start_date = listing_date - timedelta(days=30)  # 30일 전
        end_date = listing_date - timedelta(days=1)  # 1일 전

        # 날짜 범위 생성 (YYYY.MM.DD 형식 유지)
        date_list = [(start_date + timedelta(days=i)).strftime("%Y.%m.%d") for i in range((end_date - start_date).days + 1)]
        return date_list
    except Exception:
        return []  # 변환 실패 시 빈 리스트 반환

# 새로운 컬럼 추가 (30일 전부터 1일 전까지의 날짜 리스트)
df["상장일_30일전_1일전_범위"] = df["상장일"].apply(generate_date_range)

# 결과 확인
df

,기업명,상장일,상장일_30일전,상장일_30일전_1일전_범위
0,아이지넷,2025.02.04,2025.01.05,"[2025.01.05, 2025.01.06, 2025.01.07, 2025.01.0..."
1,피아이이,2025.02.04,2025.01.05,"[2025.01.05, 2025.01.06, 2025.01.07, 2025.01.0..."
2,삼양엔씨켐,2025.02.03,2025.01.04,"[2025.01.04, 2025.01.05, 2025.01.06, 2025.01.0..."
3,아스테라시스,2025.01.24,2024.12.25,"[2024.12.25, 2024.12.26, 2024.12.27, 2024.12.2..."
4,데이원컴퍼니,2025.01.24,2024.12.25,"[2024.12.25, 2024.12.26, 2024.12.27, 2024.12.2..."
...,...,...,...,...
770,화인베스틸,2014.07.22,2014.06.22,"[2014.06.22, 2014.06.23, 2014.06.24, 2014.06.2..."
771,트루윈,2014.07.11,2014.06.11,"[2014.06.11, 2014.06.12, 2014.06.13, 2014.06.1..."
772,캐스텍코리아,2014.05.27,2014.04.27,"[2014.04.27, 2014.04.28, 2014.04.29, 2014.04.3..."
773,오이솔루션,2014.02.27,2014.01.28,"[2014.01.28, 2014.01.29, 2014.01.30, 2014.01.3..."
774,인터파크INT,2014.02.06,2014.01.07,"[2014.01.07, 2014.01.08, 2014.01.09, 2014.01.1..."

In [ ]:
# 리스트 내의 날짜 형식을 "YYYYMMDD"로 변환하는 함수
def convert_date_list_format(date_list):
    try:
        return [datetime.strptime(date, "%Y.%m.%d").strftime("%Y%m%d") for date in date_list]
    except Exception:
        return []  # 변환 실패 시 빈 리스트 반환

# 상장일_30일전_1일전_범위 컬럼의 날짜 형식 변환
df["상장일_30일전_1일전_범위_YYYYMMDD"] = df["상장일_30일전_1일전_범위"].apply(convert_date_list_format)

# 결과 확인
df

,기업명,상장일,상장일_30일전,상장일_30일전_1일전_범위,상장일_30일전_1일전_범위_YYYYMMDD
0,아이지넷,2025.02.04,2025.01.05,"[2025.01.05, 2025.01.06, 2025.01.07, 2025.01.0...","[20250105, 20250106, 20250107, 20250108, 20250..."
1,피아이이,2025.02.04,2025.01.05,"[2025.01.05, 2025.01.06, 2025.01.07, 2025.01.0...","[20250105, 20250106, 20250107, 20250108, 20250..."
2,삼양엔씨켐,2025.02.03,2025.01.04,"[2025.01.04, 2025.01.05, 2025.01.06, 2025.01.0...","[20250104, 20250105, 20250106, 20250107, 20250..."
3,아스테라시스,2025.01.24,2024.12.25,"[2024.12.25, 2024.12.26, 2024.12.27, 2024.12.2...","[20241225, 20241226, 20241227, 20241228, 20241..."
4,데이원컴퍼니,2025.01.24,2024.12.25,"[2024.12.25, 2024.12.26, 2024.12.27, 2024.12.2...","[20241225, 20241226, 20241227, 20241228, 20241..."
...,...,...,...,...,...
770,화인베스틸,2014.07.22,2014.06.22,"[2014.06.22, 2014.06.23, 2014.06.24, 2014.06.2...","[20140622, 20140623, 20140624, 20140625, 20140..."
771,트루윈,2014.07.11,2014.06.11,"[2014.06.11, 2014.06.12, 2014.06.13, 2014.06.1...","[20140611, 20140612, 20140613, 20140614, 20140..."
772,캐스텍코리아,2014.05.27,2014.04.27,"[2014.04.27, 2014.04.28, 2014.04.29, 2014.04.3...","[20140427, 20140428, 20140429, 20140430, 20140..."
773,오이솔루션,2014.02.27,2014.01.28,"[2014.01.28, 2014.01.29, 2014.01.30, 2014.01.3...","[20140128, 20140129, 20140130, 20140131, 20140..."
774,인터파크INT,2014.02.06,2014.01.07,"[2014.01.07, 2014.01.08, 2014.01.09, 2014.01.1...","[20140107, 20140108, 20140109, 20140110, 20140..."

In [7]:
df.to_csv("기업_상장일.csv", index=False, encoding="utf-8-sig")

In [18]:
# 상장일_30일전_1일전_범위 컬럼의 모든 리스트를 하나의 리스트로 합치기
all_dates_list = sum(df["상장일_30일전_1일전_범위_YYYYMMDD"].tolist(), [])

# 중복 제거 및 정렬 (필요 시 적용)
all_dates_list = sorted(set(all_dates_list))

# 결과 확인
len(all_dates_list), all_dates_list

(3809,
 ['20140107',
  '20140108',
  '20140109',
  '20140110',
  '20140111',
  '20140112',
  '20140113',
  '20140114',
  '20140115',
  '20140116',
  '20140117',
  '20140118',
  '20140119',
  '20140120',
  '20140121',
  '20140122',
  '20140123',
  '20140124',
  '20140125',
  '20140126',
  '20140127',
  '20140128',
  '20140129',
  '20140130',
  '20140131',
  '20140201',
  '20140202',
  '20140203',
  '20140204',
  '20140205',
  '20140206',
  '20140207',
  '20140208',
  '20140209',
  '20140210',
  '20140211',
  '20140212',
  '20140213',
  '20140214',
  '20140215',
  '20140216',
  '20140217',
  '20140218',
  '20140219',
  '20140220',
  '20140221',
  '20140222',
  '20140223',
  '20140224',
  '20140225',
  '20140226',
  '20140427',
  '20140428',
  '20140429',
  '20140430',
  '20140501',
  '20140502',
  '20140503',
  '20140504',
  '20140505',
  '20140506',
  '20140507',
  '20140508',
  '20140509',
  '20140510',
  '20140511',
  '20140512',
  '20140513',
  '20140514',
  '20140515',
  '20140516',
  '20140517',
  '20140518',
  '20140519',
  '20140520',
  '20140521',
  '20140522',
  '20140523',
  '20140524',
  '20140525',
  '20140526',
  '20140611',
  '20140612',
  '20140613',
  '20140614',
  '20140615',
  '20140616',
  '20140617',
  '20140618',
  '20140619',
  '20140620',
  '20140621',
  '20140622',
  '20140623',
  '20140624',
  '20140625',
  '20140626',
  '20140627',
  '20140628',
  '20140629',
  '20140630',
  '20140701',
  '20140702',
  '20140703',
  '20140704',
  '20140705',
  '20140706',
  '20140707',
  '20140708',
  '20140709',
  '20140710',
  '20140711',
  '20140712',
  '20140713',
  '20140714',
  '20140715',
  '20140716',
  '20140717',
  '20140718',
  '20140719',
  '20140720',
  '20140721',
  '20140722',
  '20140723',
  '20140724',
  '20140725',
  '20140726',
  '20140727',
  '20140728',
  '20140729',
  '20140730',
  '20140731',
  '20140801',
  '20140802',
  '20140803',
  '20140804',
  '20140805',
  '20140806',
  '20140807',
  '20140906',
  '20140907',
  '20140908',
  '20140909',
  '20140910',
  '20140911',
  '20140912',
  '20140913',
  '20140914',
  '20140915',
  '20140916',
  '20140917',
  '20140918',
  '20140919',
  '20140920',
  '20140921',
  '20140922',
  '20140923',
  '20140924',
  '20140925',
  '20140926',
  '20140927',
  '20140928',
  '20140929',
  '20140930',
  '20141001',
  '20141002',
  '20141003',
  '20141004',
  '20141005',
  '20141006',
  '20141007',
  '20141008',
  '20141009',
  '20141010',
  '20141011',
  '20141012',
  '20141013',
  '20141014',
  '20141015',
  '20141016',
  '20141017',
  '20141018',
  '20141019',
  '20141020',
  '20141021',
  '20141022',
  '20141023',
  '20141024',
  '20141025',
  '20141026',
  '20141027',
  '20141028',
  '20141029',
  '20141030',
  '20141031',
  '20141101',
  '20141102',
  '20141103',
  '20141104',
  '20141105',
  '20141106',
  '20141107',
  '20141108',
  '20141109',
  '20141110',
  '20141111',
  '20141112',
  '20141113',
  '20141114',
  '20141115',
  '20141116',
  '20141117',
  '20141118',
  '20141119',
  '20141120',
  '20141121',
  '20141122',
  '20141123',
  '20141124',
  '20141125',
  '20141126',
  '20141127',
  '20141128',
  '20141129',
  '20141130',
  '20141201',
  '20141202',
  '20141203',
  '20141204',
  '20141205',
  '20141206',
  '20141207',
  '20141208',
  '20141209',
  '20141210',
  '20141211',
  '20141212',
  '20141213',
  '20141214',
  '20141215',
  '20141216',
  '20141217',
  '20141218',
  '20141219',
  '20141220',
  '20141221',
  '20141222',
  '20141223',
  '20141224',
  '20141225',
  '20141226',
  '20141227',
  '20141228',
  '20150112',
  '20150113',
  '20150114',
  '20150115',
  '20150116',
  '20150117',
  '20150118',
  '20150119',
  '20150120',
  '20150121',
  '20150122',
  '20150123',
  '20150124',
  '20150125',
  '20150126',
  '20150127',
  '20150128',
  '20150129',
  '20150130',
  '20150131',
  '20150201',
  '20150202',
  '20150203',
  '20150204',
  '20150205',
  '20150206',
  '20150207',
  '20150208',
  '20150209',
  '20150210',
  '20150217',
  '20150218',
  '20150219',
  '20150220',
  '20150221',
  '20150222',
  '20150223',
  '20150224',
  '20150225',
  '20150226',
  '20150227',
  '20150228',
  '20150301',
  '20150302',
  '20150303',
  '20150304',
  '20150305',
  '20150306',
  '20150307',
  '20150308',
  '20150309',
  '20150310',
  '20150311',
  '20150312',
  '20150313',
  '20150314',
  '20150315',
  '20150316',
  '20150317',
  '20150318',
  '20150319',
  '20150320',
  '20150321',
  '20150322',
  '20150323',
  '20150324',
  '20150325',
  '20150326',
  '20150327',
  '20150328',
  '20150329',
  '20150330',
  '20150331',
  '20150401',
  '20150402',
  '20150403',
  '20150404',
  '20150405',
  '20150406',
  '20150407',
  '20150408',
  '20150409',
  '20150410',
  '20150411',
  '20150412',
  '20150429',
  '20150430',
  '20150501',
  '20150502',
  '20150503',
  '20150504',
  '20150505',
  '20150506',
  '20150507',
  '20150508',
  '20150509',
  '20150510',
  '20150511',
  '20150512',
  '20150513',
  '20150514',
  '20150515',
  '20150516',
  '20150517',
  '20150518',
  '20150519',
  '20150520',
  '20150521',
  '20150522',
  '20150523',
  '20150524',
  '20150525',
  '20150526',
  '20150527',
  '20150528',
  '20150529',
  '20150530',
  '20150531',
  '20150601',
  '20150602',
  '20150603',
  '20150604',
  '20150605',
  '20150606',
  '20150607',
  '20150608',
  '20150609',
  '20150610',
  '20150611',
  '20150612',
  '20150613',
  '20150614',
  '20150615',
  '20150616',
  '20150617',
  '20150618',
  '20150619',
  '20150620',
  '20150621',
  '20150622',
  '20150623',
  '20150624',
  '20150625',
  '20150626',
  '20150627',
  '20150628',
  '20150629',
  '20150630',
  '20150701',
  '20150702',
  '20150703',
  '20150704',
  '20150705',
  '20150706',
  '20150707',
  '20150708',
  '20150709',
  '20150710',
  '20150711',
  '20150712',
  '20150713',
  '20150714',
  '20150715',
  '20150716',
  '20150717',
  '20150718',
  '20150719',
  '20150720',
  '20150721',
  '20150722',
  '20150723',
  '20150724',
  '20150725',
  '20150726',
  '20150727',
  '20150728',
  '20150729',
  '20150730',
  '20150731',
  '20150801',
  '20150802',
  '20150803',
  '20150804',
  '20150805',
  '20150806',
  '20150807',
  '20150808',
  '20150809',
  '20150810',
  '20150811',
  '20150812',
  '20150813',
  '20150814',
  '20150815',
  '20150816',
  '20150817',
  '20150818',
  '20150819',
  '20150820',
  '20150821',
  '20150822',
  '20150823',
  '20150824',
  '20150825',
  '20150826',
  '20150827',
  '20150828',
  '20150829',
  '20150830',
  '20150831',
  '20150901',
  '20150902',
  '20150903',
  '20150904',
  '20150905',
  '20150906',
  '20150907',
  '20150908',
  '20150909',
  '20150910',
  '20150911',
  '20150912',
  '20150913',
  '20150914',
  '20150915',
  '20150916',
  '20150917',
  '20150918',
  '20150919',
  '20150920',
  '20150921',
  '20150922',
  '20150923',
  '20150924',
  '20150925',
  '20150926',
  '20150927',
  '20150928',
  '20150929',
  '20150930',
  '20151001',
  '20151002',
  '20151003',
  '20151004',
  '20151005',
  '20151006',
  '20151007',
  '20151008',
  '20151009',
  '20151010',
  '20151011',
  '20151012',
  '20151013',
  '20151014',
  '20151015',
  '20151016',
  '20151017',
  '20151018',
  '20151019',
  '20151020',
  '20151021',
  '20151022',
  '20151023',
  '20151024',
  '20151025',
  '20151026',
  '20151027',
  '20151028',
  '20151029',
  '20151030',
  '20151031',
  '20151101',
  '20151102',
  '20151103',
  '20151104',
  '20151105',
  '20151106',
  '20151107',
  '20151108',
  '20151109',
  '20151110',
  '20151111',
  '20151112',
  '20151113',
  '20151114',
  '20151115',
  '20151116',
  '20151117',
  '20151118',
  '20151119',
  '20151120',
  '20151121',
  '20151122',
  '20151123',
  '20151124',
  '20151125',
  '20151126',
  '20151127',
  '20151128',
  '20151129',
  '20151130',
  '20151201',
  '20151202',
  '20151203',
  '20151204',
  '20151205',
  '20151206',
  '20151207',
  '20151208',
  '20151209',
  '20151210',
  '20151211',
  '20151212',
  '20151213',
  '20151214',
  '20151215',
  '20151216',
  '20151217',
  '20151218',
  '20151219',
  '20151220',
  '20151221',
  '20151222',
  '20151223',
  '20151224',
  '20151225',
  '20151226',
  '20151227',
  '20151228',
  '20151229',
  '20151230',
  '20151231',
  '20160101',
  '20160102',
  '20160103',
  '20160104',
  '20160105',
  '20160106',
  '20160107',
  '20160108',
  '20160109',
  '20160110',
  '20160111',
  '20160112',
  '20160113',
  '20160114',
  '20160115',
  '20160116',
  '20160117',
  '20160118',
  '20160119',
  '20160120',
  '20160121',
  '20160122',
  '20160123',
  '20160124',
  '20160125',
  '20160126',
  '20160127',
  '20160128',
  '20160129',
  '20160130',
  '20160131',
  '20160201',
  '20160202',
  '20160203',
  '20160204',
  '20160205',
  '20160206',
  '20160207',
  '20160208',
  '20160209',
  '20160210',
  '20160211',
  '20160212',
  '20160213',
  '20160214',
  '20160215',
  '20160216',
  '20160217',
  '20160218',
  '20160219',
  '20160220',
  '20160221',
  '20160222',
  '20160223',
  '20160224',
  '20160225',
  '20160226',
  '20160227',
  '20160228',
  '20160229',
  '20160301',
  '20160302',
  '20160303',
  '20160304',
  '20160305',
  '20160306',
  '20160307',
  '20160308',
  '20160309',
  '20160310',
  '20160311',
  '20160312',
  '20160313',
  '20160314',
  '20160315',
  '20160316',
  '20160317',
  '20160318',
  '20160319',
  '20160320',
  '20160321',
  '20160322',
  '20160323',
  '20160324',
  '20160325',
  '20160326',
  '20160327',
  '20160328',
  '20160329',
  '20160330',
  '20160331',
  '20160401',
  '20160402',
  '20160403',
  '20160404',
  '20160405',
  '20160406',
  '20160407',
  '20160408',
  '20160409',
  '20160410',
  '20160411',
  '20160412',
  '20160413',
  '20160414',
  '20160415',
  '20160416',
  '20160417',
  '20160418',
  '20160419',
  '20160420',
  '20160421',
  '20160422',
  '20160423',
  '20160424',
  '20160425',
  '20160426',
  '20160427',
  '20160428',
  '20160429',
  '20160430',
  '20160501',
  '20160502',
  '20160503',
  '20160504',
  '20160505',
  '20160506',
  '20160507',
  '20160508',
  '20160509',
  '20160510',
  '20160511',
  '20160512',
  '20160513',
  '20160514',
  '20160515',
  '20160516',
  '20160517',
  '20160518',
  '20160519',
  '20160520',
  '20160521',
  '20160522',
  '20160523',
  '20160524',
  '20160525',
  '20160526',
  '20160527',
  '20160528',
  '20160529',
  '20160530',
  '20160531',
  '20160601',
  '20160602',
  '20160603',
  '20160604',
  '20160605',
  '20160606',
  '20160607',
  '20160608',
  '20160609',
  '20160610',
  '20160611',
  '20160612',
  '20160613',
  '20160614',
  '20160615',
  '20160616',
  '20160617',
  '20160618',
  '20160619',
  '20160620',
  '20160621',
  '20160622',
  '20160623',
  '20160624',
  '20160625',
  '20160626',
  '20160627',
  '20160628',
  '20160629',
  '20160630',
  '20160701',
  '20160702',
  '20160703',
  '20160704',
  '20160705',
  '20160706',
  '20160707',
  '20160708',
  '20160709',
  '20160710',
  '20160711',
  '20160712',
  '20160713',
  '20160714',
  '20160715',
  '20160716',
  '20160717',
  '20160718',
  '20160719',
  '20160720',
  '20160721',
  '20160722',
  '20160723',
  '20160724',
  '20160725',
  '20160726',
  '20160727',
  '20160728',
  '20160729',
  '20160730',
  '20160731',
  '20160801',
  '20160802',
  '20160803',
  '20160804',
  '20160805',
  '20160806',
  '20160807',
  '20160808',
  '20160809',
  '20160810',
  '20160811',
  '20160812',
  '20160813',
  '20160814',
  '20160815',
  '20160816',
  '20160817',
  '20160818',
  '20160819',
  '20160820',
  '20160821',
  '20160822',
  '20160823',
  '20160824',
  '20160825',
  '20160826',
  '20160827',
  '20160828',
  '20160829',
  '20160830',
  '20160831',
  '20160901',
  '20160902',
  '20160903',
  '20160904',
  '20160905',
  '20160906',
  '20160907',
  '20160908',
  '20160909',
  '20160910',
  '20160911',
  '20160912',
  '20160913',
  '20160914',
  '20160915',
  '20160916',
  '20160917',
  '20160918',
  '20160919',
  '20160920',
  '20160921',
  '20160922',
  '20160923',
  '20160924',
  '20160925',
  '20160926',
  '20160927',
  '20160928',
  '20160929',
  '20160930',
  '20161001',
  '20161002',
  '20161003',
  '20161004',
  '20161005',
  '20161006',
  '20161007',
  '20161008',
  '20161009',
  '20161010',
  '20161011',
  '20161012',
  '20161013',
  '20161014',
  '20161015',
  '20161016',
  '20161017',
  '20161018',
  '20161019',
  '20161020',
  '20161021',
  '20161022',
  '20161023',
  '20161024',
  '20161025',
  '20161026',
  '20161027',
  '20161028',
  '20161029',
  '20161030',
  '20161031',
  '20161101',
  '20161102',
  '20161103',
  '20161104',
  '20161105',
  '20161106',
  '20161107',
  '20161108',
  '20161109',
  '20161110',
  '20161111',
  '20161112',
  '20161113',
  '20161114',
  '20161115',
  '20161116',
  '20161117',
  '20161118',
  '20161119',
  '20161120',
  '20161121',
  '20161122',
  '20161123',
  '20161124',
  '20161125',
  '20161126',
  '20161127',
  '20161128',
  '20161129',
  '20161130',
  '20161201',
  '20161202',
  '20161203',
  '20161204',
  '20161205',
  '20161206',
  '20161207',
  '20161208',
  '20161209',
  '20161210',
  '20161211',
  '20161212',
  '20161213',
  '20161214',
  '20161215',
  '20161216',
  '20161217',
  '20161218',
  '20161219',
  '20161220',
  '20161225',
  '20161226',
  '20161227',
  '20161228',
  '20161229',
  '20161230',
  '20161231',
  '20170101',
  '20170102',
  '20170103',
  '20170104',
  '20170105',
  '20170106',
  '20170107',
  '20170108',
  '20170109',
  '20170110',
  '20170111',
  '20170112',
  '20170113',
  '20170114',
  '20170115',
  '20170116',
  '20170117',
  '20170118',
  '20170119',
  '20170120',
  '20170121',
  '20170122',
  '20170123',
  '20170124',
  '20170125',
  '20170126',
  '20170127',
  '20170128',
  '20170129',
  '20170130',
  '20170131',
  '20170201',
  '20170202',
  '20170203',
  '20170204',
  '20170205',
  '20170206',
  '20170207',
  '20170208',
  '20170209',
  '20170210',
  '20170211',
  '20170212',
  '20170213',
  '20170214',
  '20170215',
  '20170216',
  '20170217',
  '20170218',
  '20170219',
  '20170220',
  '20170221',
  '20170222',
  ...])

In [21]:
len(df["상장일"].unique())

684